@charset "utf-8";

/*
 * tablet: 768~
 * smartphone: ~767
 */

html {
    font-size: 62.5%; }
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #151515 url("../images/peegar.png") no-repeat fixed left top;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Open Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
@media (max-width: 767px) {
    body {
        background: #151515;
    }
}

.heading {
    margin: 0;
    margin-bottom: 30px;
    font-size: 4rem;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    /* background-color: #E13E11; */
    margin: 0;
    z-index: 1;
    overflow: hidden;
}
.header .container {
    margin: 0 auto;
    width: 70%;
    font-size: 0;
}
.header-image {
    float: left;
    vertical-align: top;
    display: inline;
    margin: 0;
}
.header-image img {
    height: 32px;
    margin-top: 25px;
}
.header-nav ul {
    margin: 0;
}
.header-nav {
    float: right;
    margin: 0;
    display: inline;
    vertical-align: top;
}
.nav-item {
    display: inline;
    margin: 20px;
}
.header-nav .nav-item a {
    display: inline;
    list-style: none;
    width: 100px;
    height: 80px;
    line-height: 80px;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}
@media (max-width: 767px) {
    .header {
        position: static;
        height: 50px;
        width: 100%;
        background-color: #E13E11;
    }
    .header-image {
        margin: 0 auto;
    }
    .header-image img {
        height: 20px;
        margin-top: 17px;
    }
    .header-nav {
        display: none;
    }
}

.title {
    padding: 250px 30px 250px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba(255, 255, 255, 0.5); */
}
.site-title-image {
    display: block;
    margin: 20px auto 20px;
    width: 600px;
    font-weight: normal;
}
.site-title-sub {
    margin: 0 0 50px;
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-weight: lighter;
}
.button {
    display: inline-block;
    width: 200px;
    padding: 18px;
    border-radius: 5px;
    background-color: rgba(225, 62, 17, 0.8);
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: normal;
}
.button:hover {
    background-color: rgba(225, 62, 17, 0.9);
}
@media (max-width: 767px) {
    .title {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .title-bg {
        background: #151515 url("../images/peegar_smartphone.png") no-repeat left top;
        background-position: center;
        background-size: cover;
    }
    .site-title-image {
        width: 90%;
    }
    .site-title-sub {
        font-size: 1.8rem;
    }
}

.about {
    background-color: #118CE3;
    color: #FFF;
    padding: 70px 15%;
    margin: 0;
}
.desc-text {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 2;
    margin: 0 auto;
    text-align: justify;
}
@media (max-width: 767px) {
    .about {
        padding: 70px 1.5em;
    }
    .desc-text {
        font-size: 1.4rem;
        width: 100%;
        line-height: 1.6;
    }
}

.features {
    padding: 70px 2em;
    background-color: #fff;
    color: #474545;
}
.features-wrapper {
    width: 80%;
    display: table;
    table-layout: fixed;
    margin: 0 auto;
    margin-top: 60px;
}
.feature-container {
    display: table-cell;
}
.feature-icon {
    width: 170px;
    height: 170px;
    font-size: 11rem;
    color: #E13E11;
    border: 1px solid;
    border-radius: 50%;
    border-color: #E13E11;
    line-height: 168px;
}
.feature-heading {
    font-weight: bold;
    font-size: 2.7rem;
}
.feature-description {
    font-size: 1.7rem;
}
@media (max-width: 767px) {
    .features-wrapper {
        display: block;
        margin-top: 10px;
        width: 100%;
    }
    .feature-container {
        display: block;
    }
    .feature-container {
        margin: 40px auto;
    }
    .feature-icon {
        width: 100px;
        height: 100px;
        font-size: 6rem;
        line-height: 98px;
    }
    .feature-heading {
        font-size: 2.2rem;
    }
}

.video {
    z-index: 2;
    padding: 70px 2em;
    color: #FFF;
    background-color: #5DAE21;
}
.video-frame {
    width: 80%;
}
.youtube {
}
@media (max-width: 767px) {
    .video-frame {
        width: 90%;
    }
    .youtube {
        width: 90%;
        height: 90%;
    }
}

.contact {
    padding: 70px 2em;
    font-size: 1.3rem;
    letter-spacing: 1px;
    background-color: #fff;
    color: #474545;
}
.contact-text {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: normal;
}
.contact-address {
    text-decoration: none;
    color: #474545;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: normal;
}

.member {
    background-color: rgba(0, 0, 0, 0.5);
    /* padding: 10% 7% 5%; */
    padding: 70px 2em;
}
.developer-table {
    margin: 0 auto;
    color: #fff;
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1px;
    width: 90%;
    padding: 0;
}
.developer-link {
    color: #fff;
    text-decoration: none;
}
.dev-name-col{
    width: 44%;
    text-align: right;
    padding: 0 1% 0 0;
}
.dev-role-col {
    width: 44%;
    text-align: left;
    padding: 0 0 0 1%;
}
.developer-name {
    line-height: 1.6;
    margin: 0;
    font-weight: bold;
}
.developer-role {
    line-height: 1.6;
    margin: 0;
    font-size: 1.1rem;
    font-weight: normal;
}
.member-heading {
    display: block;
    margin: 20px auto 10px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);
}
.acknowledgement {
    width: 600px;
    display: block;
    margin: 40px auto 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.7;
}
.acknowledgement a {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}
@media (max-width: 767px) {
    .developer-table {
        width: 100%;
    }
    .developer-table td {
        text-align: center;
        display: block;
        width: 100%;
    }
    .dev-name-col {
        margin-top: 10px;
        font-size: 1.4rem;
    }
    .dev-role-col {
        line-height: 2;
        font-size: 0.9rem;
    }
    .acknowledgement {
        width: 90%;
    }
}

.footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 0 5%;
    font-size: 1.3rem;
    color: #fff;
    font-weight: normal;
}
.footer-image {
    width: 90px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
